.DS_Store
/bin/
/test/tests.*
/test/coverage.*
!/dogfood/repository/
!/internal/repository/
/repository.yaml
/blox
/_build/
/dist/
cli/blox/blox
/.github/.vscode/
dogfood/_build/
dogfood/data/_build/
vendor
*.rpm
*.deb
!dummy.deb
*.apk
coverage.txt
dist
.DS_Store
bin
coverage.out
/blox
testdata/acceptance/tmp/
completions/
.envrc
